.header-logo {
    max-width: 130px;
  }

.navbar {
  background-color: #2e2f7d55;
}

body {
  /* padding: 10px; */
}
.body-wrapper {
  padding: 20px;
}

footer {
  background-color: #2e2f7d;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer-block {
  padding: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.fa-brands {
  padding: 10px;
}

h1,
h2,
h3,
p,
a,
text
 {
    font-family: 'Nunito', sans-serif;
}