.header-logo {
    max-width: 130px;
  }

.navbar {
  border-bottom: 2px solid #2e2f7d;;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.977), rgba(0, 0, 0, 0.221)), url(/images/corgi.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.body-wrapper {
  padding: 20px;
}

footer {
  background-color: #2e2f7d;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer-block {
  padding: 20px;
}

footer a,
.footerlinkto {
  color: #fff;
  text-decoration: none;
}

.fa-brands,
.linkto {
  padding: 10px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
p,
a,
text
 {
    font-family: 'Nunito', sans-serif;
}

.container p, h1, h2 {
  text-align: left;
  padding: 40px;
}