.header-logo {
  max-width: 130px;
}

.navbar {
  border-bottom: 2px solid #2e2f7d;
}

body {
  background-position: center;
  background-color: #2e2f7d1d;
  background-size: cover;
  position: relative;
}

.body-wrapper {
  padding: 20px;
}

.image-container {
  overflow: hidden;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center bottom;
}

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center ;
  transform: translate(0%, -20%);
  filter: brightness(80%);
}

/* .overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -140%);
  color: #fff;
  background-color: #0000007e;
  padding: 10px 20px;
  font-size: 30px;
  text-align: center;
  z-index: 1;
  margin: 0 0 20px;
}

.overlay-text {
  font-size: 28px;
  font-family: "Manrope", sans-serif;
} */

footer {
  background-color: #2e2f7d;
  color: #fff;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

.footer-block {
  padding: 20px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer a,
.footerlinkto {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.fa-brands,
.linkto {
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  padding: 10px;
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5 p,
a,
text,
ul,
li {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

#navbarNav {
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  text-decoration: underline 1px;
  text-align: center;
}

.btn {
  font-size: 18px;
}

li,
p {
  font-size: 22px;
  text-align: left;
}

.container {
  text-align: left;
  padding-top: 20px;
}

.container h1,
h2,
h3 {
  text-align: left;
}

.infolink {
  color: var(--bs-black);
}

.liste {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.enkeltliste {
  padding: 15px;
  margin-left: 30px;
}

.enkeltliste ul,
ul {
  /* list-style-type: none; */
  text-align: left;
}

.vilkår {
  font-size: 18px;
  padding: 10px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 80%;
  position: absolute;
}

.informasjons-bilde {
  width: fit-content;
  max-width: 400px;
  border-radius: 5px;
  filter: brightness(85%);
}

.informasjons-logo {
  width: 200px;
}